* {
  padding: 0;
  margin: 0;
  font-family: 'Garamond', sans-serif;
  box-sizing: border-box;
}

a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
  background-color: antiquewhite;
}

.navbar {
  padding: 0;
}
.navbar a {
  padding: 0 1em 0 1em;
}
.active {
  padding: 0;
  background-color: tan;
}
.btn {
  color: tan;
  border-color: tan;
}
.btn:hover {
  background-color: tan;
  border-color: tan;
}

.banner {
  position: relative;
  text-align: center;
}
.home img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.searchbar {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.searchbar input {
  width: 75vw;
}
