.banner {
  position: relative;
  text-align: center;
}
.banner img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}
.searchbar {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.searchbar input {
  width: 75vw;
}
.col {
  padding: 2%;
}

@media only screen and (min-width: 961px) {
  .banner img {
    height: 40vh;
  }
}
