* {
  padding: 0;
  margin: 0;
  font-family: 'Garamond', sans-serif;
  box-sizing: border-box;
}
a {
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
  background-color: antiquewhite;
}
.main:not(.home) {
  margin: 2% 5% 5% 5%;
}

/* Header */
header .navbar {
  padding: 0;
  border-bottom: 1px solid black;
}
header .navbar-brand {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
}
header .active {
  background-color: tan;
}
header li {
  padding-left: 1em;
}
header .form-inline {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}
header .form-control {
  width: 75% !important;
}
header .btn {
  width: 25%;
  color: black;
  border-color: tan;
}
header .btn:hover {
  background-color: tan;
  border-color: tan;
  color: black;
}
@media only screen and (min-width: 961px) {
  header li {
    padding: 0;
  }
  header .form-inline {
    width: 275px;
    margin: 0;
  }
}

/* Footer */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
footer ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
