.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  margin: 0.5em 0 1em 0;
}
.searchbar input {
  width: auto !important;
}
.searchbar button, .searchbar button:hover {
  color: black;
  border-color: tan;
}
.searchbar button:hover {
  background-color: tan;
}
.col {
  padding: 0.5em;
}
.form-group {
  margin: 0;
}

.results {
  width: 80%;
}
.results ul {
  list-style: none;
  padding-left: 1em;
  text-indent: -1em;
}
