.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  margin: 0.5em 0 1em 0;
}
.filters .searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.filters .searchbar .form-inline {
  width: 275px;
}
.filters .searchbar input {
  width: 75% !important;
}
.filters .searchbar button, .filters .searchbar button:hover {
  width: 25%;
  color: black;
  border-color: tan;
}
.filters .searchbar button:hover {
  background-color: tan;
}
.filters .col {
  padding: 0.5em;
}
.filters .form-group {
  margin: 0;
}

.results {
  column-count: 1;
  column-gap: 1em;
}
.results-item {
  display: inline-block;
  margin: 0.5em;
  padding: 1em;
}
.results ul {
  list-style: none;
  padding-left: 1em;
  text-indent: -1em;
}
@media only screen and (min-width: 961px) {
  .professors .results {
    column-count: 4;
  }
  .extracurriculars .results {
    column-count: 2;
  }
  .courses .results {
    column-count: 3;
  }
}
